.input {
  width: 100%;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 24px;
}

.button {
  font-size: 24px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
}

.link__Password {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: skyblue;
}

.link__Password:hover, .link__Password:visited, .link__Password:active {
  text-decoration: underline;
  color: hotpink;
}

.message {
  margin: 0.25rem auto;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.warning {
  border: 1px solid red;
  background-color: #eb9292;
}

.success {
  border: 1px solid darkgreen;
  background-color: #4cb73a;
}
