html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

main {
  max-width: 600px;
  padding: 42px 24px;
  margin: auto;
}

footer {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.input {
  width: 100%;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 24px;
}

.button {
  font-size: 24px;
  background: #000000;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  padding: 12px;
  margin-bottom: 24px;
}

.message {
  margin: 0.25rem auto;
  padding: 0.5rem;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.warning {
  border: 1px solid red;
  background-color: #eb9292;
}

.success {
  border: 1px solid darkgreen;
  background-color: #4cb73a;
}

.link {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: skyblue;
}

.link:hover, .link:visited, .link:active {
  text-decoration: underline;
  color: rgb(145, 115, 255);
}
