.title {
  text-align: center;
  line-height: 24px;
}

.nav {
  position: relative;
}

.back {
  position: absolute;
  top: 0;
  left: 24px;
  line-height: 24px;
  cursor: pointer;
}

.auth {
  position: absolute;
  top: 0;
  right: 24px;
}

.auth img {
  max-width: 25px;
}

.auth > a + a {
  margin-left: 1rem;
}
